<section class="basket-section" id = "basket-section">
    <header>
        <h3>Ваша корзина</h3>
        <img src="/images/x.svg" alt="close" id ="close-basket">
    </header>
    <%- include('./BaskedCards')%>
    <footer>
    </footer>
</section>