
<div class="btn_relative_box">
    <img src="/images/Ellipse2.svg" alt="" class="elips1">
    <img src="/images/Ellipse3.svg" alt="" class="elips2">
    <button id = 'buy-btn-slide' onclick="handleBuyClikck()">
        <div>
            <img src="/images/shopping-cart.svg" alt="">
            <span>Купить</span>
        </div>
    </button>
</div>
