<header class="header-base" role="banner">
    <div class="header-contain">
        <h1 aria-label="Logo">Elfen lied</h1>
        <nav role="navigation" aria-label="Main navigation">
            <div>
                <img src="/images/CatalogIcon.svg" alt="icon-catalog">
                <a href="">Каталог</a>
            </div>
            <div>
                <a href="">Блог</a>
                <a href="">Контакты</a>
            </div>
            <div>
                <img src="/images/search.svg" alt="Search-icon">
                <a href="">Поиск</a>
            </div>
            <div role="group" aria-label="User actions">
                <button aria-label="Favourites">
                    <img src="/images/favorite.svg" alt="favorite-icon" width="20" height="20">
                </button>
                <button aria-label="Personal account" id = "btn-autor">
                    <img src="/images/profile.svg" alt="profile-icon" width="20" height="20">
                </button>
                <button aria-label="Basket" id = "btn-basket">
                    <img src="/images/basket.svg" alt="basket-icon" width="20" height="20">
                </button>
            </div>
            <img src="/images/contact.svg" alt="" class="img-contact">
        </nav>
    </div>
</header>