<header class="header-base">
    <nav class="nav-base">
        <a href="/" class="nav-link">Главная</a>
        <a href="/categories" class="nav-link">Категории</a>
        <a href="/auth" class="nav-link">Войти</a>
    </nav>
</header>