<header class="header-base">
    <div class="header-contain">
        <h1>Elfen lied</h1>
        <nav >
            <div>
                <img src="" alt="">
                <a href="">Каталог</a>
            </div>
            <a href="">Блог</a>
            <a href="">Контакты</a>
            <div>
                <img src="" alt="">
                <a href="">Поиск</a>
            </div>
            <figure>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </figure>
        </nav>
    </div>
</header>