
.category-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    padding: 0 60px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}


.text-uppercase {
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

.category-section h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 3.75rem;
}


.category-line {
    display: flex;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.category-line::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
.select-section-categoryes{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 73px;
    align-items: center;
}

@supports not (gap: 30px) {
    .category-line {
        margin: -15px;
    }
    
    .category-line > * {
        margin: 15px;
    }
}