<section class="category-section" aria-labelledby="categories-heading">

    <h2 id="categories-heading" class="old-header text-uppercase">Категории товаров</h2>
    <h2 class="new-header text-uppercase">Категории</h2>
    <p class="visually-hidden">Ознакомьтесь с нашими основными категориями товаров и их ассортиментом</p>
    
    <div class="category-line" role="list" aria-label="Список категорий">
       <%- include('./CategoryCard') %>
    </div>
    <div class="select-section-categoryes"></div>
</section>