.section-slide-card{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}
 .card-slide {
    flex: 1;
    height: 1038px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
    min-width: 0; 
    gap: 86px;
    position: relative; 
    padding-bottom: 145px;
    box-sizing: border-box;
}

.card-slide .card-title{
    position: relative;
    width: 100%;
    height: 425px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-slide .card-title h2{
    visibility: visible;
    position: relative; 
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    transition: all 1.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
    font-size: 70px;
    font-family: 'Floreste Wavy';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

.card-slide .card-title img{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) rotate(7deg);
    z-index: 2;
    width: 159px;
    height: 312px;
    transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.section-slide-card .card-slide:nth-of-type(1) {
    background-color: #C5B0FAB2;
}
.section-slide-card .card-slide:nth-of-type(1) h2{
    color: #CBB6FF;
}
.section-slide-card .card-slide:nth-of-type(1):hover {
    background-color: #AE97E8;
}
.section-slide-card .card-slide:nth-of-type(2){
    background-color: #FA8FEF;
}
.section-slide-card .card-slide:nth-of-type(2) h2{
    color: #FFA8F6;
}
.section-slide-card .card-slide:nth-of-type(3){
    background-color: #AECFFF;
}
.section-slide-card .card-slide:nth-of-type(3) h2{
    color: #C8DEFF;
}
@media(min-width:1000px){
    .section-slide-card .card-slide:hover {
    flex: 4;
    animation: wobble 0.8s ease-in-out;
    }
    .section-slide-card .card-slide:nth-of-type(1):hover .card-title img{
        transform: translate(-50%, calc(-50% + 162px)) rotate(0deg) scale(1.7); 
    }
    .section-slide-card .card-slide:nth-of-type(2):hover .card-title img{
        transform: translate(-50%, calc(-50% + 144px)) rotate(0deg) scale(2.13); 
    }
    .section-slide-card .card-slide:nth-of-type(3):hover .card-title img{
        transform: translate(-50%, calc(-50% + 155px)) rotate(0deg) scale(1.921); 
    }
    .section-slide-card .card-slide:hover h2{
        width: 100%;
        transform: translateY(152px); 
        font-size: 212px;
    }
    .section-slide-card .card-slide:nth-of-type(1):hover .article-card-contin{
        left: 61px; 
        transform: translate(0, calc(50% + 16px)); 
        text-align: left;
        align-items: flex-start;
    }
    .section-slide-card .card-slide:nth-of-type(2):hover .article-card-contin{
        left: 61px;
        transform: translate(0, calc(50% - 12px)); 
        text-align: left;
        align-items: flex-start;
    }
    .section-slide-card .card-slide:nth-of-type(3):hover .article-card-contin{
        left: 61px;
        transform: translate(0, calc(50% - 33px)); 
        text-align: left;
        align-items: flex-start;
    }
    .section-slide-card .card-slide:hover .card-body h3{
        text-align: start;
        font-size: 1.75rem;
    }
    .section-slide-card .card-slide:hover .card-price{
        color: #D9FF5A;
    }
    @keyframes wobble {
        0% {
            transform: scaleX(1);
        }
        50% {
            transform: scaleX(1.009); 
        }
        70% {
            transform: scaleX(1.01); 
        }
        85% {
            transform: scaleX(1.009); 
        }
        100% {
            transform: scaleX(1); 
        }
    }
    .section-slide-card .card-slide:hover ~ .card-slide h2,
    .section-slide-card .card-slide:hover ~ .card-slide .card-body,
    .section-slide-card .card-slide:has(~ .card-slide:hover) h2,
    .section-slide-card .card-slide:has(~ .card-slide:hover) .card-body 
    {
        opacity: 0;
        visibility: hidden;
        height: 0; 
        width: 0;
        margin: 0;
        padding: 0;
    }
    .section-slide-card .card-slide:hover ~ .card-slide .card-title ,
    .section-slide-card .card-slide:has(~ .card-slide:hover) .card-title{
        height:339px;
    } 
    .section-slide-card .card-slide:hover ~ .card-slide .card-title img,
    .section-slide-card .card-slide:has(~ .card-slide:hover) .card-title img{
        transform: translate(-50%, calc(-50% + 111px))
    } 
    .section-slide-card .card-slide:hover ~ .card-slide,
    .section-slide-card .card-slide:has(~ .card-slide:hover){
        gap: 223px;
    } 
    .section-slide-card .card-slide:hover ~ .card-slide .slide-number,
    .section-slide-card .card-slide:has(~ .card-slide:hover) .slide-number {
        opacity: 1;
        visibility: visible;
    }
    .section-slide-card .card-slide:hover .btn_buy_card{
        opacity: 1;
        right: 60px;
        transform: translate(0,calc(50% + 54px));
    }
}

.card-body {
    position: relative;
    visibility: visible;
    width: 100%;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-sizing: border-box;
}
.article-card-contin{
    width: 275px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.article-card-contin h3, p{
    color: white;
}
.article-card-contin h3{
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal; 
}
.article-card-contin div p{
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0%;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: normal; 
}
.article-card-contin div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.line-article-price{
    width: 100%;
    border: 1px solid #FFFFFF33;
}
.card-price{
    font-size: 70px;
    font-family: 'Floreste Wavy';
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.slide-number{
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    height: 0; 
    width: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:42px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.slide-number p:first-of-type{
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: normal; 
    opacity: 0.6;
}
.slide-number p:last-of-type{
    font-family: 'Floreste Wavy';
    font-weight: 400;
    font-size: 40px;
    line-height: 0.85; 
    letter-spacing: 0.04em; 
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: -0.12em;
    margin-bottom: -0.08em;
}


.btn_buy_card{
    width: 357px;
    height: 156px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    top: 200%;
    right: 100%;
    transform: translate(100%,200%);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media(max-width:1200px) and (min-width:1000px){
    .section-slide-card .card-slide:nth-of-type(1):hover .card-title img{
        transform: translate(-50%, calc(-50% + 62px)) rotate(0deg) scale(1.7); 
    }
    .section-slide-card .card-slide:nth-of-type(2):hover .card-title img{
        transform: translate(-50%, calc(-50% + 44px)) rotate(0deg) scale(2.13); 
    }
    .section-slide-card .card-slide:nth-of-type(3):hover .card-title img{
        transform: translate(-50%, calc(-50% + 55px)) rotate(0deg) scale(1.921); 
    }
}
@media(max-width:1180px){
   .section-slide-card .card-slide:hover .btn_buy_card{
        right: 30px;
        transform: translate(0,calc(50% + 54px));
    } 
    .btn_buy_card{
        width: 250px;
    }
    .section-slide-card .card-slide:hover h2{
        width: 100%;
        transform: translateY(152px); 
        font-size: 190px;
    }
}
@media(max-width:999px){
    .section-slide-card{
        height: 680px;
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
    }
    .card-slide{
        width: calc(100% - 100px);
        flex: none;
        padding: 0;
        height: 650px;
        gap: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .card-title{
        width: 400px;
    }
    .section-slide-card .card-slide.visible-animation:nth-of-type(1) {
        background-color: transparent;
    }
    .section-slide-card .card-slide.visible-animation:nth-of-type(1) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.2); 
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(2) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.2); 
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(3) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.2); 
    }
    
    .section-slide-card .card-slide.visible-animation h2 {
        width: calc(100% + 120px);
        transform: translateY(50%); 
        font-size: 110px;
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(1) .article-card-contin {
        left: 61px; 
        transform: translate(0, 0); 
        text-align: left;
        align-items: flex-start;
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(2) .article-card-contin {
        left: 61px;
        transform: translate(0, 0); 
        text-align: left;
        align-items: flex-start;
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(3) .article-card-contin {
        left: 61px;
        transform: translate(0, 0); 
        text-align: left;
        align-items: flex-start;
    }
    
    .section-slide-card .card-slide.visible-animation .btn_buy_card {
        opacity: 1;
        right: 60px;
        transform: translate(0,0);
    }
    
    .section-slide-card .card-slide.visible-animation .card-body h3 {
        text-align: start;
        font-size: 1.75rem;
    }
    .section-slide-card .card-slide.visible-animation .card-body .card-price {
        color: #D9FF5A;
    }
}
@media(max-width:770px){
    .section-slide-card .card-slide.visible-animation .btn_buy_card {
        width: 206px;
        height: 122px;
        opacity: 1;
        right: 10px;
        transform: translate(0,0);
        z-index: 100001;
    }
}
@media(max-width:700px){
    .section-slide-card .card-slide.visible-animation h2 {
        font-size: 70px;
    }
    .section-slide-card .card-slide.visible-animation .btn_buy_card {
        right: 0;
        transform: translate(0,-70%);
    }
}
@media(max-width:600px){
    .section-slide-card{
        padding: 0 14px;
        height: 650px;
    }
    .card-slide.visible-animation{
        width: 100% ;
        height: 560px;
        margin-top: 77px;
    }
    .card-slide.visible-animation .card-title{
        width: 100%;
        height: 327px;
    }
    .card-title.visible-animation{
        width: 100%;
        height: 327px;
    }
    .section-slide-card .card-slide.visible-animation:nth-of-type(1) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.05); 
    }
    .section-slide-card .card-slide.visible-animation:nth-of-type(2) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.05); 
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(3) .card-title img {
        transform: translate(-50%, calc(-50%)) rotate(0deg) scale(1.05); 
    }
    .section-slide-card .card-slide.visible-animation h2 {
        font-size: 70px;
    }
    .section-slide-card .card-slide.visible-animation .btn_buy_card {
        transform: translate(-10%,-70%);
    }
}
@media(max-width:500px){
    .card-slide.visible-animation{
        gap: 74px;
    }
    .section-slide-card .card-slide.visible-animation .article-card-contin {
        gap: 10px;
    }
    .section-slide-card .card-slide.visible-animation .article-card-contin h3{
        font-size: 1.4375rem;
    }
    .section-slide-card .card-slide.visible-animation .article-card-contin div{
        gap: 12px;
    }
    .section-slide-card .card-slide.visible-animation .article-card-contin .card-price{
        font-size: 1.875rem;
    }
    .section-slide-card .card-slide.visible-animation .btn_buy_card {
        transform: translate(-20%,-120%);
    }
}
@media(max-width:450px){
    .section-slide-card .card-slide.visible-animation:nth-of-type(1) .article-card-contin {
        left: 14px; 
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(2) .article-card-contin {
        left: 14px;
    }
    
    .section-slide-card .card-slide.visible-animation:nth-of-type(3) .article-card-contin {
        left: 14px;
    }
}
@media(max-width:400px){
    .section-slide-card .card-slide.visible-animation h2 {
        font-size: 65px;
    }
}