<div class="autorization-section" id = 'autorization-section'>
    <img src="/images/x.svg" alt="" class="close-autorization-btn" id = 'close-autorization-btn'>
    <%- include('./RegistrationForm') %>
    <%- include('./SignForm') %>
</div>