.card-blog{
    position: relative;
    width: 580px;
    height: 376px;
}
.blog-info{
    position: absolute;
    top:0;
    left: 0;
    width: 283px;
    height: 342px;
    padding: 25px 27px 25px 25px;
}
.blog-info header{
    display: flex;
    justify-content: space-between;
}
.blog-info header p:first-of-type{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF99;
}
.blog-info header p:last-of-type{
    width: 90px;
    height: 36px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
}
.blog-info h3{
    height: 108px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: 31px;
    display: flex;
    align-items: center;
}
.blog-info time{
    margin-top: 88px;
    width: 82px;
    display: inline-block;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.card-blog-imageContain{
    position: absolute;
    top:13px;
    left: 310px;
    width: 257px;
    height: 316px;
    overflow: hidden;
    border-radius: 26px;
}
.card-blog-imageContain img{
    width: 120%;
    height: 110%;
    object-fit: cover; 
    object-position: left; 
    transition: all 0.5s ease;
}
.card-blog-time{
    position: absolute;
    top: 293px;
    left: 129px;
    transform: rotate(-15deg);
    width: 96px;
    height: 81px;
    border: 2px solid #D9FF5A;
    border-radius: 50%;
    background-color: #FFFFFF30;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-blog-time time{
    width: 37px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all 0.4s ease;
}
.card-blog-time time span:first-of-type{
    height: 28px;
    font-family: 'Floreste Wavy';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
}
.card-blog-time time span:last-of-type{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.card-blog-time:hover{
    background-color: #D9FF5A;
    color: #AE97E8 !important;
}
@media(max-width:600px){
    .card-blog{
        position: relative;
        width: 360px;
        height: 269px;
    }
    .bg-img-blog{
        width: 360px;
        height: 243px;
    }
    .blog-info{
        width: 176px;
        height: 243px;
        padding: 25px 14px 38px 15px;
        border-radius: 25px;
    }
    .card-blog-imageContain{
        top:21px;
        left: 194px;
        width: 156px;
        height: 200px;
        border-radius: 16px;
    }
    .blog-info header p:first-of-type{
        font-size: 13px;
    }
    .blog-info header p:last-of-type{
        width: 56px;
        height: 36px;
        font-size: 13px;
    }
    .blog-info h3{
        height: 62px;
        font-size: 15px;
    }
    .blog-info time{
        margin-top: 20px !important;
        font-size: 12px;
    }
    .card-blog-time{
        position: absolute;
        top: 196px;
        left: 77px;
        width: 65px;
        height: 57px;
    }
    .card-blog-time time{
        gap: 0;
    }
    .card-blog-time time span:first-of-type{
        height: 21px;
        font-size: 25px;
    }
    .card-blog-time time span:last-of-type{
        font-size: 12px;
    }
}