<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="stylesheet" href="/css/sectionSlide.css">
    <link rel="stylesheet" href="/css/BuyBtn.css">
    <link rel="stylesheet" href="/css/styleCategory.css">
    <link rel="stylesheet" href="/css/styleCategoryCard.css">
    <link rel="stylesheet" href="/css/productList.css">
    <style>
        @font-face {
            font-family: 'Le Murmure';
            src: url('/fonts/le-murmure/ofont.ru_Le_Murmure.ttf') format('truetype');
        }
        @font-face {
            font-family: 'Euclid Circular A';
            src: url('/fonts/euclid-circular-a/Euclid_Circular_A_Italic.ttf') format('truetype');
            font-weight: 400;
            font-style: italic;
            font-display: swap;
        }
        @font-face {
            font-family: 'Euclid Circular A';
            src: url('../fonts/euclid-circular-a/Euclid_Circular_A_Medium.ttf') format('truetype');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Floreste Wavy';
            src: url('../fonts/Floreste/FloresteWavy-BWPqd.otf');
        }
    </style>
</head>
<body>
    <%- include('../components/header/header') %>
    <%- include('../components/main/main') %>
    <%- include('../components/footer/footer') %>
</body>
<script src="/js/animation-hover-category.js"></script>
<script src="/js/category-handler.js"></script>
</html>